<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian">
    {% for product_main_category in product_categories %}
        <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            {% if product_main_category.productcategory_set.all %}
                <a data-toggle="collapse" data-parent="#accordian" href="#{{ product_main_category.url_title }}">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    {{ product_main_category.title }}
                    <span class="badge pull-left">{{ product_main_category.productcategory_set.count }}</span>
                </a>
            {% else %}
                <a href="{% url 'products-by-category-list' category=product_main_category.url_title %}">
                {{ product_main_category.title }}
                </a>
            {% endif %}
        </h4>
    </div>
    {% if product_main_category.productcategory_set %}
        <div id="{{ product_main_category.url_title }}" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    {% for category in product_main_category.productcategory_set.all %}
                        <li><a href="{% url 'products-by-category-list' category=category.url_title %}">{{ category.title }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    {% endif %}
</div>

    {% endfor %}

</div>
