<div class="col-sm-4">
<div class="product-image-wrapper">
<div class="single-products">
<div class="productinfo text-center">
    {% if product.image %}
        <img src={{ product.image.url }} alt="product-image">
    {% else %}
        <img src="/static/images/shop/product.jpg" alt="product-image">
    {% endif %}
    <h2>تومان{{ product.price }}</h2>
    <p>{{ product.title}}</p>
    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
</div>
<div class="product-overlay">
    <div class="overlay-content">
        <h2>تومان{{ product.price }}</h2>
        <p>{{ product.title }}</p>
        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
    </div>
</div>
</div>
<div class="choose">
<ul class="nav nav-pills nav-justified">
    <li><a href="{% url 'product-detail' slug=product.slug %}"><i class="fa fa-plus-square"></i>مشاهده جزئیات</a></li>
    <li><a href=""><i class="fa fa-plus-square"></i>مقایسه</a></li>
</ul>
</div>
</div>
</div>
