{% extends 'shared/layout.html' %}


{% block title %}
سبد خرید
{% endblock %}

{% block content %}
    <h2>سبد خرید شما</h2>
    <div class="cart-items">
        <ul>
            {% for item in cart_items %}
                <li class="cart-item">
                    <span class="item-name">{{ item.product.name }}</span>
                    <span class="item-quantity">تعداد: {{ item.quantity }}</span>
                    <span class="item-price">قیمـت: {{ item.product.price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p class="total-price">مجموع قیمـت: {{ total_price }}</p>
    </div>
{% endblock %}